* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

html {
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #eee;
  font-family: system-ui;
  font-size: 16px;
}

@media (max-width: 35rem) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 26rem) {
  html {
    font-size: 10px;
  }
}

.infobox {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

}

.infobox a {
  text-decoration: none;
  color: rgb(245, 220, 190);
}

.imagebox {
  padding-top: 0.5rem;
  max-width: 13rem;
}

#image {
  max-width: 100%;
  min-width: 7rem;
  border-radius: 10px;
}

.imagecredits {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 100;
}

.textbox {
  font-size: 1.1rem;
  font-weight: 200;
  padding-left: 1rem;
  max-width: 23rem;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 2px 2px 10px #111;
  padding-right: 0.2rem;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: 200;
  white-space: nowrap;
  align-self: flex-end;
  padding-bottom: 0.65rem;
  padding-left: 0.3rem;
  text-shadow: 1px 1px 5px #111;
}

.contactbox {
  padding-top: 0.4rem;
  padding-left: 0.3rem;
  line-height: 1.6rem;
}
